*.la
*.lo
*.m4
*.o
*.so
*.rpm
*.swp
*.tar.gz
*~
.deps
.libs
Makefile
AutoMakefile
Makefile.in
autom4te.cache
autoscan.log
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
